*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6em;
}
h1{
    font-size: clamp(2rem, 3vw, 3rem);
}
.container{
    max-width: 800px;
    margin-inline: auto;
    padding: 1rem;
}
.content{
    display: block;
}
.links a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-size: min(1.4rem, 1.8rem);
    margin-block: 16px;
    font-weight: 900;
}
.main-content{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 20rem;
}
.lorem{
    font-style: italic;
    font-size: clamp(1rem, 2vw, 1.5rem);
}
.mobile-links{
    background-color: black;
    padding: 1rem;
    color: white;
}
.mobile-links a{
    color: white;
}
.mobile-links>*::marker{
    content: '☰';
}
.desktop-links{
    display: none;
    list-style-type: none;
}
.links li{
    list-style-type: none;
}
.img-container{
    width: 100%;
    margin-block: 1rem;
}
.img-container img{
    max-width: 100%;
    border-radius: 1rem;
}
.form-grid{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 16px;
    padding: 1rem;
}
.form-grid label{
    font-weight: 900;
    font-style: italic;
}
.form-grid input,.form-grid textarea{
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 1rem;
    border: 4px solid;
}

.form-grid input::placeholder,.form-grid textarea::placeholder{
    font-style: italic;
}
button{
    width: 100%;
    padding: 1em;
    border: none;
    background-color: black;
    color: white;
    border-radius: 1rem;
}
@media (min-width: 768px) {
    
 .desktop-links{
    display: block;
 }
 .mobile-links{
    display: none;
 }
 .content{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.form-grid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.form-grid-input-textarea{
    grid-column: span 2;
}
}
